<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/index">
<head>
<title>StudentMaster Edit</title>
</head>
<body>

	<div layout:fragment="content1">
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6"></div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">StudentMaster</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<!-- left column -->
						<div class="col-md-12">
							<!-- jquery validation -->
							<div class="card card-primary">
								<div class="card-header">
									<h3>StudentMaster Update</h3>
								</div>
								<!-- /.card-header -->
								<!-- form start -->
								<form id="quickForm" method="post"
									th:action="@{/admin/studentMaster/save}" enctype="multipart/form-data" th:object="${studentMaster}">
									<div class="card-body">
										<div class="form-group">
											<label for="id">Id</label> <input type="text" name="id"
												class="form-control" id="id" placeholder="Enter Id "
												th:value="${studentMaster.getId()}" readonly="readonly">
										</div>
										<div class="form-group">
											<label for="user">User</label> <select
												th:field="${studentMaster.user}" name="user"
												class="form-control col-md-3">
												<option th:each="user:${listUsers}"
													th:text="${user.getName()}" th:value="${user.getId()}"></option>
											</select>
										</div>
										<div class="form-group">
											<label for="gender">Gender</label>

											<div class="form-check">
												<input type="radio" id="gender" name="gender" value="male"
													th:field="*{gender}"> <label
													class="form-check-label" for="gender">Male</label>
											</div>
											<div class="form-check">
												<input type="radio" id="gender" name="gender" value="female"
													th:field="*{gender}" checked> <label
													class="form-check-label" for="gender">Female</label>
											</div>
										</div>
										<div class="form-group">
											<label for="phone">Phone</label> <input type="text"
												name="phone" class="form-control" id="phone"
												placeholder="Enter Phone "
												th:value="${studentMaster.getPhone()}">
										</div>
										<div class="form-group">
											<label for="photo">Photo</label> <input type="file"
												accept="image/png image/jpeg" name="file"
												class="form-control" id="file" placeholder="Enter Photo">
											<input type="hidden" name="photo" th:value="${studentMaster.getPhoto()}"> <img
												th:src="@{${studentMaster.imagePath}}"
												style="height: 16%; width: 16%;" />
										</div>
										<div class="form-group">
											<label for="city">City</label> <input type="text" name="city"
												class="form-control" id="city" placeholder="Enter City "
												th:value="${studentMaster.getCity()}">
										</div>
										<div class="form-group">
											<label for="department">Department</label> <input type="text"
												name="department" class="form-control" id="department"
												placeholder="Enter Department "
												th:value="${studentMaster.getDepartment()}">
										</div>
										<div class="form-group">
											<label for="course">Course</label> <input type="text"
												name="course" class="form-control" id="course"
												placeholder="Enter Course "
												th:value="${studentMaster.getCourse()}">
										</div>
										<div class="form-group">
											<label for="semester">Semester</label> <input type="text"
												name="semester" class="form-control" id="semester"
												placeholder="Enter Semester "
												th:value="${studentMaster.getSemester()}">
										</div>


									</div>
									<!-- /.card-body -->
									<div class="card-footer">
										<button type="submit" class="btn btn-primary btn-sm">UPDATE</button>
										<a th:href="@{/admin/studentMaster/index}"><button type="button"
												class="btn btn-dark btn-sm">BACK</button></a>
									</div>
								</form>
							</div>
							<!-- /.card -->
						</div>
						<!--/.col (left) -->
						<!-- right column -->
						<div class="col-md-6"></div>
						<!--/.col (right) -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
	</div>
	<section layout:fragment="script1"></section>

</body>
<html>