<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/index">
<head>
<title>[[${session.urole}]] Dashboard</title>
</head>
<body>

	<div layout:fragment="content1">
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">[[${session.urole}]] Dashboard</h1>
						</div>
						<!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								
								<li class="breadcrumb-item active">Dashboard </li>
							</ol>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<th:block th:if="${session.urole == 'ADMIN'}">
			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<!-- Small boxes (Stat box) -->
					<div class="row">
						<div class="col-lg-3 col-6">
							<!-- small box -->
							<div class="small-box bg-info">
								<div class="inner">
									<h3 th:text= "${staff_count}"></h3>

									<p>Staff</p>
								</div>
								<div class="icon">
									<i class="fas fa-users"></i>
								</div>
								<a th:href="@{/staffMaster/index}" class="small-box-footer">More info <i
									class="fas fa-arrow-circle-right"></i></a>
							</div>
						</div>
						<!-- ./col -->
						<div class="col-lg-3 col-6">
							<!-- small box -->
							<div class="small-box bg-success">
								<div class="inner">
									<h3 th:text="${student_count}">
										
									</h3>

									<p>Students</p>
								</div>
								<div class="icon">
									<i class="fas fa-users"></i>
								</div>
								<a th:href="@{/studentMaster/index}" class="small-box-footer">More info <i
									class="fas fa-arrow-circle-right"></i></a>
							</div>
						</div>
						<!-- ./col -->
						<div class="col-lg-3 col-6">
							<!-- small box -->
							<div class="small-box bg-warning">
								<div class="inner">
									<h3  th:text="${registration_count}"></h3>

									<p>Event Registrations</p>
								</div>
								<div class="icon">
									<i class="ion ion-person-add"></i>
								</div>
								<a th:href="@{/eventRegistration/index}" class="small-box-footer">More info <i
									class="fas fa-arrow-circle-right"></i></a>
							</div>
						</div>
						<!-- ./col -->
						<div class="col-lg-3 col-6">
							<!-- small box -->
							<div class="small-box bg-danger">
								<div class="inner">
									<h3 th:text="${event_count}"></h3>

									<p>Event</p>
								</div>
								<div class="icon">
									<i class="far fa-calendar-alt"></i>
								</div>
								<a th:href="@{/event/index}" class="small-box-footer">More info <i
									class="fas fa-arrow-circle-right"></i></a>
							</div>
						</div>
						<!-- ./col -->
					</div>
			</section>
		    </th:block>
		    
		    <th:block th:if="${session.urole == 'STAFF'}">
			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<!-- Small boxes (Stat box) -->
					<div class="row">
						<div class="col-lg-3 col-6">
							<!-- small box -->
							<div class="small-box bg-info">
								<div class="inner">
									<h3 th:text= "${staff_count}"></h3>

									<p>Staff</p>
								</div>
								<div class="icon">
									<i class="fas fa-users"></i>
								</div>
								<a th:href="@{/staffMaster/index}" class="small-box-footer">More info <i
									class="fas fa-arrow-circle-right"></i></a>
							</div>
						</div>
						<!-- ./col -->
						<div class="col-lg-3 col-6">
							<!-- small box -->
							<div class="small-box bg-success">
								<div class="inner">
									<h3 th:text="${student_count}">
										
									</h3>

									<p>Students</p>
								</div>
								<div class="icon">
									<i class="fas fa-users"></i>
								</div>
								<a th:href="@{/studentMaster/index}" class="small-box-footer">More info <i
									class="fas fa-arrow-circle-right"></i></a>
							</div>
						</div>
						<!-- ./col -->
						<div class="col-lg-3 col-6">
							<!-- small box -->
							<div class="small-box bg-warning">
								<div class="inner">
									<h3  th:text="${registration_count}"></h3>

									<p>Event Registrations</p>
								</div>
								<div class="icon">
									<i class="ion ion-person-add"></i>
								</div>
								<a th:href="@{/eventRegistration/index}" class="small-box-footer">More info <i
									class="fas fa-arrow-circle-right"></i></a>
							</div>
						</div>
						<!-- ./col -->
						<div class="col-lg-3 col-6">
							<!-- small box -->
							<div class="small-box bg-danger">
								<div class="inner">
									<h3 th:text="${event_count}"></h3>

									<p>Event</p>
								</div>
								<div class="icon">
									<i class="far fa-calendar-alt"></i>
								</div>
								<a th:href="@{/event/index}" class="small-box-footer">More info <i
									class="fas fa-arrow-circle-right"></i></a>
							</div>
						</div>
						<!-- ./col -->
					</div>
			</section>
		    </th:block>
		
		<th:block th:if="${session.urole == 'STUDENT'}">
			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<!-- Small boxes (Stat box) -->
					<div class="row">
						<div class="col-lg-3 col-6">
							<!-- small box -->
							<div class="small-box bg-info">
								<div class="inner">
									<h3 th:text= "${staff_count}"></h3>

									<p>Staff</p>
								</div>
								<div class="icon">
									<i class="fas fa-users"></i>
								</div>
								<a th:href="@{/staffMaster/index}" class="small-box-footer">More info <i
									class="fas fa-arrow-circle-right"></i></a>
							</div>
						</div>
						<!-- ./col -->
						<div class="col-lg-3 col-6">
							<!-- small box -->
							<div class="small-box bg-success">
								<div class="inner">
									<h3 th:text="${student_count}">
										
									</h3>

									<p>Students</p>
								</div>
								<div class="icon">
									<i class="fas fa-users"></i>
								</div>
								<a th:href="@{/studentMaster/index}" class="small-box-footer">More info <i
									class="fas fa-arrow-circle-right"></i></a>
							</div>
						</div>
						<!-- ./col -->
						<div class="col-lg-3 col-6">
							<!-- small box -->
							<div class="small-box bg-warning">
								<div class="inner">
									<h3  th:text="${registration_count}"></h3>

									<p>Event Registrations</p>
								</div>
								<div class="icon">
									<i class="ion ion-person-add"></i>
								</div>
								<a th:href="@{/eventRegistration/index}" class="small-box-footer">More info <i
									class="fas fa-arrow-circle-right"></i></a>
							</div>
						</div>
						<!-- ./col -->
						<div class="col-lg-3 col-6">
							<!-- small box -->
							<div class="small-box bg-danger">
								<div class="inner">
									<h3 th:text="${event_count}"></h3>

									<p>Event</p>
								</div>
								<div class="icon">
									<i class="far fa-calendar-alt"></i>
								</div>
								<a th:href="@{/event/index}" class="small-box-footer">More info <i
									class="fas fa-arrow-circle-right"></i></a>
							</div>
						</div>
						<!-- ./col -->
					</div>
			</section>
		    </th:block>
		
		<th:block th:if="${session.urole == 'TEMP-STUDENT'}">
			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<!-- Small boxes (Stat box) -->
					<div class="row">
						<div class="col-lg-3 col-6">
							<!-- small box -->
							<div class="small-box bg-info">
								<div class="inner">
									<h3 th:text= "${staff_count}"></h3>

									<p>Staff</p>
								</div>
								<div class="icon">
									<i class="fas fa-users"></i>
								</div>
								<a th:href="@{/staffMaster/index}" class="small-box-footer">More info <i
									class="fas fa-arrow-circle-right"></i></a>
							</div>
						</div>
						<!-- ./col -->
						<div class="col-lg-3 col-6">
							<!-- small box -->
							<div class="small-box bg-success">
								<div class="inner">
									<h3 th:text="${student_count}">
										
									</h3>

									<p>Students</p>
								</div>
								<div class="icon">
									<i class="fas fa-users"></i>
								</div>
								<a th:href="@{/studentMaster/index}" class="small-box-footer">More info <i
									class="fas fa-arrow-circle-right"></i></a>
							</div>
						</div>
						<!-- ./col -->
						<div class="col-lg-3 col-6">
							<!-- small box -->
							<div class="small-box bg-warning">
								<div class="inner">
									<h3  th:text="${registration_count}"></h3>

									<p>Event Registrations</p>
								</div>
								<div class="icon">
									<i class="ion ion-person-add"></i>
								</div>
								<a th:href="@{/eventRegistration/index}" class="small-box-footer">More info <i
									class="fas fa-arrow-circle-right"></i></a>
							</div>
						</div>
						<!-- ./col -->
						<div class="col-lg-3 col-6">
							<!-- small box -->
							<div class="small-box bg-danger">
								<div class="inner">
									<h3 th:text="${event_count}"></h3>

									<p>Event</p>
								</div>
								<div class="icon">
									<i class="far fa-calendar-alt"></i>
								</div>
								<a th:href="@{/event/index}" class="small-box-footer">More info <i
									class="fas fa-arrow-circle-right"></i></a>
							</div>
						</div>
						<!-- ./col -->
					</div>
			</section>
		    </th:block>
		</div>
	</div>

	
</body>
</html>