<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="user/template">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <title>About US</title>


</head>

<body>

    <div layout:fragment="content1">

        <section>
            <div class="w-100 pt-180 pb-110 black-layer opc45 position-relative">
                <div class="fixed-bg" style="background-image: url(assets/images/pg-tp-bg.jpg);"></div>
                <div class="container">
                    <div class="pg-tp-wrp text-center w-100">
                        <h1 class="mb-0">About us</h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html" title="Home">Home</a></li>
                            <li class="breadcrumb-item active">About us</li>
                        </ol>
                    </div><!-- Page Top Wrap -->
                </div>
            </div>
        </section>
        <section>
            <div class="w-100 pt-140 pb-140 gray-bg position-relative">
                <div class="container">
                    <div class="about-wrap w-100">
                        <div class="row align-items-center">
                            <div class="col-md-12 col-sm-12 col-lg-6">
                                <img class="img-fluid w-100" th:src="@{assets/images/resources/about-img1.jpg}"
                                    alt="About Image 1">
                            </div>
                            <div class="col-md-12 col-sm-12 col-lg-6">
                                <div class="about-desc w-100">
                                    <h2 class="mb-0">Explore on-going and Upcoming Events</h2>
                                    <p class="mb-0">Campus Life, get notify for the upcoming events earlier. enjoy
                                        surfing the past events form you can have a glimpse of those events. As well as
                                        find yourself at the event by registering yourself.</p> <br />
                                    <p>enjoy the live concerts from anywhere. This the best place to treasure the
                                        memories of your campus life. we have a lively campus and live platform to store
                                        your memories. Have a glance at it.</p>


                                </div>
                            </div>
                        </div>
                    </div><!-- About Wrap -->
                </div>
            </div>
        </section>
        <section>
            <div class="w-100 pb-110 gray-bg position-relative">
                <div class="container">
                    <div class="sec-title text-center w-100">
                        <span class="d-block thm-clr">#StudentsFirst #CharacterMust</span>
                        <span class=""><img class="img-fluid" th:src="@{/assets/images/gnu1.png}"
                                alt="How It Works Icon 1" style="    max-width: 30%;
                                height: auto;"></span>
                    </div><!-- Sec Title -->
                    <div class="how-work-wrap res-row text-center w-100">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-lg-4">
                                <div class="how-work-box w-100">
                                    <span class="rounded-circle d-inline-block"><img class="img-fluid"
                                            th:src="@{/assets/images/resources/how-work-icon1.png}"
                                            alt="How It Works Icon 1"></span>
                                    <div class="how-work-inner w-100">
                                        <h3 class="mb-0">Awards and Rating</h3>
                                        <p class="mb-0">Ganpat university has been awarded by the best university of
                                            the
                                            year, in the year 2018,2019,2020,2021. As well as holds the four star
                                            rating. Furthermore Ganpat University has secured a place under the
                                            Excellent University</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-4">
                                <div class="how-work-box w-100">
                                    <span class="rounded-circle d-inline-block"><img class="img-fluid"
                                            th:src="@{/assets/images/resources/how-work-icon2.png}"
                                            alt="How It Works Icon 2"></span>
                                    <div class="how-work-inner w-100">
                                        <h3 class="mb-0">Heterogeneous & Specialised Programs</h3>
                                        <p class="mb-0">Only University in State offering heterogeneous and
                                            spicialised
                                            programs</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-4">
                                <div class="how-work-box w-100">
                                    <span class="rounded-circle d-inline-block"><img class="img-fluid"
                                            th:src="@{/assets/images/resources/how-work-icon3.png}"
                                            alt="How It Works Icon 3"></span>
                                    <div class="how-work-inner w-100">
                                        <h3 class="mb-0">International Alliances</h3>
                                        <p class="mb-0">Ganpat University have a friendly collaborartion with
                                            International Universities</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Services Wrap -->

                </div>
            </div>
        </section>
        <section>
            <div class="w-100 pt-180 pb-180 dark-layer2 opc65 position-relative">
                <div class="fixed-bg" style="background-image: url(assets/images/parallax2.jpg);"></div>
                <div class="container">
                    <div class="video-wrap text-center w-100">
                        <div class="video-inner d-inline-block">
                            <a class="d-inline-block" href="https://www.youtube.com/embed/7EdpBH81XIY" data-fancybox
                                title=""><i class="fas fa-play"></i></a>
                            <h2 class="mb-0">Need More Information</h2>
                            <p class="mb-0">Keep calm and get a special discount for all orders over $50 from The
                                Naturel Coffee. Hurry up! Only 3 days left.</p>
                            <a class="thm-btn" href="javascript:void(0);" title="">Explore</a>
                        </div>
                    </div><!-- Video Wrap -->
                </div>
            </div>
        </section>
        <section>
            <div class="w-100 pt-110 pb-80 dark-bg3 position-relative">
                <div class="container">
                    <div class="facts-wrap w-100">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-lg-4">
                                <div class="fact-box position-relative w-100">
                                    <i class="fas fa-briefcase"></i>
                                    <h3 class="mb-0 counter">40</h3>
                                    <h5 class="mb-0">event completed</h5>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-lg-4">
                                <div class="fact-box position-relative w-100">
                                    <i class="far fa-heart"></i>
                                    <h3 class="mb-0 counter">348</h3>
                                    <h5 class="mb-0">happy students</h5>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-lg-4">
                                <div class="fact-box position-relative w-100">
                                    <i class="far fa-star"></i>
                                    <h3 class="mb-0 counter">516</h3>
                                    <h5 class="mb-0">feedbacks</h5>
                                </div>
                            </div>
                        </div>
                    </div><!-- Facts Wrap -->
                </div>
            </div>
        </section>
        <section>
            <div class="w-100 pt-110 pb-30 position-relative">
                <div class="container">
                    <div class="simple-posts-wrap w-100">
                        <div class="simple-post w-100">
                            <div class="row align-items-center">
                                <div class="col-md-6 col-sm-12 col-lg-6">
                                    <div class="simple-img position-relative rounded-circle"><img
                                            class="img-fluid rounded-circle"
                                            th:src="@{assets/images/resources/library.png}"
                                            alt="Simple Post Image 1"></div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-lg-6">
                                    <div class="simple-desc w-100">
                                        <h2 class="mb-0">Campus Life</h2>
                                        <p>Ganpat University is a place where ideas, passions, and questions can be
                                            fully
                                            explored. With an overwhelming number of campus clubs and student
                                            organizations, you’ll find
                                            something for every interest and passion. There’s so much to do, and
                                            countless opportunities
                                            to connect, nourish talents, and serve others. A current student put it
                                            best: GNU is for
                                            students who were over-committed in high school.”</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="simple-post w-100">
                            <div class="row align-items-center">
                                <div class="col-md-6 col-sm-12 col-lg-6 order-md-1">
                                    <div class="simple-img position-relative rounded-circle"><img
                                            class="img-fluid rounded-circle"
                                            th:src="@{assets/images/resources/sunset.jpeg}"
                                            alt="Simple Post Image 2"></div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-lg-6">
                                    <div class="simple-desc w-100">
                                        <h2 class="mb-0">Diversified Culture & Communities</h2>
                                        <p class="mb-0">GNU residence halls offer plenty of personal space to stretch,
                                            study,
                                            and connect. New students share their first year experience with others from
                                            diverse
                                            backgrounds—47 states and 37 countries!—and all take part in fun activities
                                            to
                                            break from studying and get to know other students.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Simple Posts Wrap -->
                </div>
            </div>
        </section>
        <section>
            <div class="w-100 pt-140 pb-90 gray-bg position-relative">
                <div class="container">
                    <div class="sec-title text-center w-100">
                        <span class="d-block thm-clr">Discover & connect with great local businesses</span>
                        <h2 class="mb-0">Our Technical Experts</h2>
                    </div><!-- Sec Title -->
                    <div class="team-wrap res-row w-100">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-lg-4">
                                <div class="team-box w-100 overflow-hidden position-relative">
                                    <img class="img-fluid w-100" th:src="@{assets/images/resources/padm-shree.jpg}"
                                        alt="Team Image 1">
                                    <div class="team-info w-100 position-absolute">
                                        <h3 class="mb-0"><a href="javascript:void(0);" title=""></a>March-11-0219</h3>
                                        <span class="d-block"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-4">
                                <div class="team-box w-100 overflow-hidden position-relative">
                                    <img class="img-fluid w-100" th:src="@{assets/images/resources/ganpat-dada.jpg}"
                                        alt="Team Image 2">
                                    <div class="team-info w-100 position-absolute">
                                        <h3 class="mb-0"><a href="javascript:void(0);" title="">padma shri ganpat patel</a></h3>
                                        <span class="d-block"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-4">
                                <div class="team-box w-100 overflow-hidden position-relative">
                                    <img class="img-fluid w-100" th:src="@{assets/images/resources/team-img1-3.jpg}"
                                        alt="Team Image 3">
                                    <div class="team-info w-100 position-absolute">
                                        <h3 class="mb-0"><a href="javascript:void(0);" title="">David jame</a></h3>
                                        <span class="d-block">Designer</span>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div><!-- Team Wrap -->
                </div>
            </div>
        </section>
        <section>
            <div class="w-100 pt-120 pb-140 position-relative">
                <div class="container">
                    <div class="testi-wrap text-center w-100">
                        <div class="testi-img-caro">
                            <div class="testi-img"><img class="img-fluid rounded-circle"
                                    th:src="@{assets/images/resources/testi-img1-1.jpg}" alt="Testimonials Image 1">
                            </div>
                            <div class="testi-img"><img class="img-fluid rounded-circle"
                                    th:src="@{assets/images/resources/testi-img1-2.jpg}" alt="Testimonials Image 2">
                            </div>
                            <div class="testi-img"><img class="img-fluid rounded-circle"
                                    th:src="@{assets/images/resources/testi-img1-3.jpg}" alt="Testimonials Image 3">
                            </div>
                            <div class="testi-img"><img class="img-fluid rounded-circle"
                                    th:src="@{assets/images/resources/testi-img1-4.jpg}" alt="Testimonials Image 4">
                            </div>
                        </div>
                        <div class="testi-desc-caro">
                            <div class="testi-desc-item">
                                <h4 class="mb-0">Malujt Looeo</h4>
                                <span class="d-block">Peerio Technologies</span>
                                <p class="mb-0">Ash's tactics & books have helped me a lot in my understanding on how
                                    social media advertising works.I can say that he is one of the best development
                                    professionals i have dealt with so far. His experience is great & he is such a great
                                    & pleasant person to work with you are</p>
                            </div>
                            <div class="testi-desc-item">
                                <h4 class="mb-0">Malujt Looeo</h4>
                                <span class="d-block">Peerio Technologies</span>
                                <p class="mb-0">Ash's tactics & books have helped me a lot in my understanding on how
                                    social media advertising works.I can say that he is one of the best development
                                    professionals i have dealt with so far. His experience is great & he is such a great
                                    & pleasant person to work with you are</p>
                            </div>
                            <div class="testi-desc-item">
                                <h4 class="mb-0">Malujt Looeo</h4>
                                <span class="d-block">Peerio Technologies</span>
                                <p class="mb-0">Ash's tactics & books have helped me a lot in my understanding on how
                                    social media advertising works.I can say that he is one of the best development
                                    professionals i have dealt with so far. His experience is great & he is such a great
                                    & pleasant person to work with you are</p>
                            </div>
                            <div class="testi-desc-item">
                                <h4 class="mb-0">Malujt Looeo</h4>
                                <span class="d-block">Peerio Technologies</span>
                                <p class="mb-0">Ash's tactics & books have helped me a lot in my understanding on how
                                    social media advertising works.I can say that he is one of the best development
                                    professionals i have dealt with so far. His experience is great & he is such a great
                                    & pleasant person to work with you are</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="w-100 pb-120 position-relative">
                <div class="container">
                    <ul class="clients-list text-center mb-0 list-unstyled d-flex flex-wrap">
                        <li><a href="javascript:void(0);" title=""><img class="img-fluid"
                                    th:src="@{assets/images/resources/client-img1.png}" alt="Client Image 1"></a></li>
                        <li><a href="javascript:void(0);" title=""><img class="img-fluid"
                                    th:src="@{assets/images/resources/client-img2.png}" alt="Client Image 2"></a></li>
                        <li><a href="javascript:void(0);" title=""><img class="img-fluid"
                                    th:src="@{assets/images/resources/client-img3.png}" alt="Client Image 3"></a></li>
                        <li><a href="javascript:void(0);" title=""><img class="img-fluid"
                                    th:src="@{assets/images/resources/client-img4.png}" alt="Client Image 4"></a></li>
                        <li><a href="javascript:void(0);" title=""><img class="img-fluid"
                                    th:src="@{assets/images/resources/client-img5.png}" alt="Client Image 5"></a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <div class="w-100 pb-140 position-relative">
                <div class="container">
                    <div class="about-toggle-wrap w-100">
                        <div class="row align-items-center">
                            <div class="col-md-12 col-sm-12 col-lg-6">
                                <img class="img-fluid w-100" th:src="@{assets/images/resources/about-img2.jpg}"
                                    alt="About Image 2">
                            </div>
                            <div class="col-md-12 col-sm-12 col-lg-6">
                                <div class="toggle w-100" id="toggle">
                                    <div class="toggle-item w-100">
                                        <h4 class="mb-0">Library Resources<i class=""></i></h4>
                                        <div class="toggle-content w-100">
                                            <p class="mb-0">The Ganpat University Central Library contains a wide range
                                                of material that reflects the intellectual wealth of the University and
                                                its constituent institutions.</p>
                                        </div>
                                    </div>
                                    <div class="toggle-item w-100">
                                        <h4 class="mb-0">Library Collection<i class=""></i></h4>
                                        <div class="toggle-content w-100">
                                            <p class="mb-0">The Libraries' collections support the teaching and research
                                                mission of the campus and provide the wide platform to connect the
                                                current trend of curriculum. The Libraries at each institute is
                                                connected with the University Central Library, which has more than 1.20
                                                Lacs top quality printed collection and provide access to approximately
                                                500 national and international level printed periodicals.</p>
                                        </div>
                                    </div>
                                    <div class="toggle-item w-100">
                                        <h4 class="mb-0">Digital Repository<i class=""></i></h4>
                                        <div class="toggle-content w-100">
                                            <p class="mb-0">Ganpat University Institutional Digital repository contains
                                                a wide range of material like Ph. D. Thesis, Dissertation Report,
                                                Project Report, E-books, Lecture notes, Newsletter, Expert lecture,
                                                Video lectures, Paper clipping, Presentation, journal articles,
                                                Conference papers, Working papers etc.</p>
                                        </div>
                                    </div>
                                    <div class="toggle-item w-100">
                                        <h4 class="mb-0">Online Public Access Catalog (OPAC)<i class=""></i></h4>
                                        <div class="toggle-content w-100">
                                            <p class="mb-0">OPAC is widely used as a search tool. Information about all
                                                items in University Central Library collection is available via OPAL.
                                                This gives an opportunity to the learners to use OPAL extensively and
                                                frequently to check and verify available titles online.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- About Toggle Wrap -->
                </div>
            </div>
        </section>

    </div>



</body>


</html>