<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="admin/index"
>
  <head>
    <title>CommentPost Entry</title>
  </head>

  <body>
    <div layout:fragment="content1">
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6"></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">CommentPost</li>
                </ol>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <!-- left column -->
              <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                  <div class="card-header">
                    <h3>CommentPost Entry</h3>
                  </div>
                  <!-- /.card-header -->
                  <!-- form start -->
                  <form
                    id="quickForm"
                    method="post"
                    th:action="@{/admin/commentPost/save}"
                  >
                    <div class="card-body">
                      <div class="form-group">
                        <label for="post">Post</label>

                        <select
                          th:field="${commentPost.post}"
                          name="post"
                          class="form-control col-md-3"
                        >
                          <option
                            th:each="post:${listPosts}"
                            th:text="${post.getMessage()}"
                            th:value="${post.getId()}"
                          ></option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="user">User</label>

                        <select
                          th:field="${commentPost.user}"
                          name="user"
                          class="form-control col-md-3"
                        >
                          <option
                            th:each="user:${listUsers}"
                            th:text="${user.getName()}"
                            th:value="${user.getId()}"
                          ></option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="comment">Comment</label>
                        <input
                          type="text"
                          name="comment"
                          class="form-control"
                          id="comment"
                          placeholder="Enter Comment "
                          th:field="${commentPost.comment}"
                        />
                      </div>
                      <div class="form-group">
                        <label for="entryDate">Entry Date</label>
                        <input
                          type="date"
                          name="entryDate"
                          class="form-control"
                          id="entryDate"
                          placeholder="Enter Entry Date "
                          th:field="${commentPost.entryDate}"
                        />
                      </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary btn-sm">
                        SUBMIT
                      </button>
                      <a th:href="@{/commentPost/index}"
                        ><button type="button" class="btn btn-dark btn-sm">
                          BACK
                        </button></a
                      >
                    </div>
                  </form>
                </div>
                <!-- /.card -->
              </div>
              <!--/.col (left) -->
              <!-- right column -->
              <div class="col-md-6"></div>
              <!--/.col (right) -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
    </div>
    <section layout:fragment="script1">
      <script
        th:src="@{/admin/plugins/jquery-validation/jquery.validate.min.js}"
      ></script>
      <script
        th:src="@{/admin/plugins/jquery-validation/additional-methods.min.js}"
      ></script>
      <script>
        $(function () {
          $.validator.setDefaults({
            submitHandler: function () {
              document.getElementById("quickForm").submit();
              //alert("Form successful submitted!");
            },
          });
          $("#quickForm").validate({
            rules: {
              post: {
                required: true,
              },
              user: {
                required: true,
              },
              comment: {
                required: true,
              },
              entryDate: {
                required: true,
              },
            },
            messages: {
              post: {
                required: "Please enter a post",
              },
              user: {
                required: "Please enter a user",
              },
              comment: {
                required: "Please enter a comment",
              },
              entryDate: {
                required: "Please enter a entry date",
              },
            },
            errorElement: "span",
            errorPlacement: function (error, element) {
              error.addClass("invalid-feedback");
              element.closest(".form-group").append(error);
            },
            highlight: function (element, errorClass, validClass) {
              $(element).addClass("is-invalid");
            },
            unhighlight: function (element, errorClass, validClass) {
              $(element).removeClass("is-invalid");
            },
          });
        });
      </script>
    </section>
  </body>
  <html></html>
</html>
