<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="admin/index"
>
  <head>
    <title>CommentPost List</title>
  </head>

  <body>
    <div layout:fragment="content1">
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>CommentPost</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">CommentPost</li>
                </ol>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <a
                      th:href="@{/commentPost/create}"
                      class="btn btn-primary btn-sm"
                      >ADD NEW COMMENTPOST</a
                    >
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <table
                      id="example1"
                      class="table table-bordered table-striped"
                    >
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Post</th>
                          <th>User</th>
                          <th>Comment</th>
                          <th>Entry Date</th>
                          <th style="width: 150px">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="commentPost : ${listCommentPosts}">
                          <td th:text="${commentPost.id}"></td>
                          <td th:text="${commentPost.post.message}"></td>
                          <td th:text="${commentPost.user.name}"></td>
                          <td th:text="${commentPost.comment}"></td>
                          <td th:text="${commentPost.entryDate}"></td>
                          <td>
                          <th:block th:if="${session.urole == 'admin' || session.urole == 'staff'}">
                            <a
                              th:href="@{/commentPost/update/{id}(id=${commentPost.id})}"
                              class="btn btn-success btn-sm"
                              >UPDATE</a
                            >
                            </th:block>
                            <a
                              th:href="@{/commentPost/delete/{id}(id=${commentPost.id})}"
                              onclick="return confirm('Do you want to DELETE?')"
                              class="btn btn-danger btn-sm"
                              >DELETE</a
                            >
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>Id</th>
                          <th>Post</th>
                          <th>User</th>
                          <th>Comment</th>
                          <th>Entry Date</th>
                          <th>Actions</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
    </div>
  </body>
  <html></html>
</html>
