<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="admin/index"
>
  <head>
    <title>Event List</title>
  </head>

  <body>
    <div layout:fragment="content1">
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Event</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Event</li>
                </ol>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header"></div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <table
                      id="example1"
                      class="table table-bordered table-striped"
                    >
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>User</th>
                          <th>Title</th>
                          <th>Start Date</th>
                          <th>Last Date</th>
                          <th>Banner</th>
                          <th>No of Regi.</th>
                          <th>Status</th>

                          <th style="width: 220px">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="event : ${listEvents}">
                          <td th:text="${event.id}"></td>
                          <td th:text="${event.user.name}"></td>
                          <td th:text="${event.title}"></td>
                          <td th:text="${event.startDate}"></td>
                          <td th:text="${event.lastDate}"></td>
                          <td>
                            <img
                              th:src="@{${event.imagePath}}"
                              style="width: 60px"
                            />
                          </td>
                          <td
                            align="center"
                            th:text="${event.eventRegistrations.size()}"
                          ></td>
                          <td
                            th:text="${event.status} ?'Active':'Inactive'"
                          ></td>

                          <td>
                            <a
                              th:href="@{/event/update/{id}(id=${event.id})}"
                              class="btn btn-success btn-sm"
                              >VIEW</a
                            >
                            <a
                              th:href="@{/event/delete/{id}(id=${event.id})}"
                              onclick="return confirm('Do you want to DELETE?')"
                              class="btn btn-danger btn-sm"
                              >DELETE</a
                            >
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>Id</th>
                          <th>User</th>
                          <th>Title</th>
                          <th>Start Date</th>
                          <th>Last Date</th>
                          <th>Banner</th>
                          <th>No of Regi.</th>
                          <th>Status</th>

                          <th>Actions</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
    </div>
  
  </body>
</html>
