<!DOCTYPE html> 
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="admin/index"> 
<head> 
    <title>Feedback List</title> 
</head> 
<body> 

 <div layout:fragment="content1"> 
 <div class="content-wrapper"> 
      <!-- Content Header (Page header) --> 
      <section class="content-header"> 
        <div class="container-fluid"> 
          <div class="row mb-2"> 
            <div class="col-sm-6"> 
           
 <h1>Feedback</h1> 
          </div> 
          <div class="col-sm-6"> 
            <ol class="breadcrumb float-sm-right"> 
              <li class="breadcrumb-item"><a href="#">Home</a></li> 
              <li class="breadcrumb-item active">Feedback</li> 
            </ol> 
            </div> 
          </div> 
        </div><!-- /.container-fluid --> 
      </section> 
 
      <!-- Main content --> 
      <section class="content"> 
        <div class="container-fluid"> 
          <div class="row"> 
            <div class="col-12"> 
  
 
              <div class="card"> 
                
                <!-- /.card-header --> 
                <div class="card-body"> 
                  <table id="example1" class="table table-bordered table-striped"> 
                    <thead> 
                      <tr>
<th>Id</th>
<th>Name</th>
<th>Email</th>
<th>Subject</th>
<th>Message</th>
<th style = "width:150px"> Actions </th> 
                      </tr> 
                    </thead> 
                    <tbody> 
                      <tr th:each="feedback : ${listFeedbacks}">
<td th:text= "${feedback.id}"> </td>
<td th:text= "${feedback.name}"> </td>
<td th:text= "${feedback.email}"> </td>
<td th:text= "${feedback.subject}"> </td>
<td th:text= "${feedback.message}"> </td>
<td> <a th:href="@{/feedback/update/{id}(id=${feedback.id})}" class="btn btn-success btn-sm">SHOW</a> 
						<a th:href="@{/feedback/delete/{id}(id=${feedback.id})}" onclick="return confirm('Do you want to DELETE?')" class="btn btn-danger btn-sm">DELETE</a> 
					</td>  
                      </tr> 
                    </tbody> 
                    <tfoot> 
                      <tr>
<th>Id</th>
<th>Name</th>
<th>Email</th>
<th>Subject</th>
<th>Message</th>
<th> Actions </th> 
                      </tr> 
                    </tfoot> 
                  </table> 
                </div> 
                <!-- /.card-body --> 
              </div> 
              <!-- /.card --> 
            </div> 
            <!-- /.col --> 
          </div> 
          <!-- /.row --> 
        </div> 
        <!-- /.container-fluid --> 
      </section> 
      <!-- /.content --> 
    </div> 
    </div>
 </body>
 <html>